.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    margin: 0.5em;
    /* padding: 1em; */
    font-size: 5em;
}

.divName {
    width: 100%;
}

h1 {
    font-family: 'Bigelow Rules', cursive;
}