* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    font-family: sans-serif;
    background: linear-gradient( to left, rgb(134, 215, 236) 0%, rgb(57, 228, 228) 100%);
    height: 100%;
}